.Homepage{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: aquamarine;
  }

  .btn {
    margin: 2rem;
  }

  .Homepage-container {
    border-radius: 2rem;
    background-color: white;
    padding: 6rem;
  }